#mw-header {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

#header-logo {
  display: flex;
  align-items: center;
  gap: @spacing-md;

  &:hover {
    text-decoration: none;
  }

  h1 {
    font-size: @text-lg;
    font-weight: bold;
    border: none;
    margin: 0;
    padding: 0;
  }
}

.header-user {
  position: relative;

  &-menu {
    z-index: 10;
    position: absolute;
    top: 20px;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: @spacing-xs;
    white-space: nowrap;
    background-color: #111;
    padding: @spacing-md;
    opacity: 0;
    pointer-events: none;
  }

  &:hover {
    .header-user-menu {
      opacity: 100;
      pointer-events: all;
    }
  }
}