<div class="page-tools openable-menu">
  <label for="page-tools-display" class="label-expand">Tools<span class="material-icons">expand_more</span></label>
  <input type="checkbox" id="page-tools-display"/>
  <div id="page-tools" class="sub-menu">
    {{#data-portlets.data-namespaces}}{{!>Portlet}}{{/data-portlets.data-namespaces}}
    {{#data-portlets.data-variants}}
      {{^is-empty}}
        <h6>Variants</h6>
        {{>Portlet}}
      {{/is-empty}}
    {{/data-portlets.data-variants}}
    {{#data-portlets.data-views}}{{!>Portlet}}{{/data-portlets.data-views}}
    {{#data-portlets.data-actions}}
      <h6>Actions</h6>
      {{>Portlet}}
    {{/data-portlets.data-actions}}
    {{#data-portlets-sidebar.array-portlets-rest}}
      <h6>General</h6>
      {{>Portlet}}
    {{/data-portlets-sidebar.array-portlets-rest}}
  </div>
</div>