<div class="page-toolbar">
	<div class="page-toolbar-container">
		<div id="left-navigation">
			<nav aria-label="{{msg-namespaces}}">
				{{#data-portlets}}
          {{#data-associated-pages}}
            {{>Tabs}}
          {{/data-associated-pages}}
        {{/data-portlets}}
				{{!>Variants}}
			</nav>
		</div>
		<div id="right-navigation" class="collapsible">
			<nav aria-label="{{msg-views}}">
				{{#data-portlets}}
          {{#data-views}}
            {{>Tabs}}
          {{/data-views}}
        {{/data-portlets}}
			</nav>

			{{>PageTools}}
		</div>
	</div>
</div>
