<div class="header-user openable-menu">
  <label for="user-menu-display"><span class="material-icons">account_circle</span></label>
  <input type="checkbox" id="user-menu-display"/>
  <div class="sub-menu">
    {{#data-portlets}}{{#data-user-menu}}
      <h6>User</h6>
      <div 
        role="navigation"
        id="{{id}}"
        class="header-user-menu {{class}}"
        title="{{html-tooltip}}"
        aria-labelledby="{{id}}-label"
      >
        {{#array-items}}{{>ListItem}}{{/array-items}}
      </div>
    {{/data-user-menu}}{{/data-portlets}}
    
    {{#data-portlets-sidebar.data-portlets-first}}
      <h6>Useful links</h6>
      {{>Portlet}}
    {{/data-portlets-sidebar.data-portlets-first}}
  </div>
</div>
